@font-face {
    font-family: "Baloo";
    src: url("../assets/fonts/BalooTamma2-Regular.ttf")
    format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "Baloo";
    src: url("../assets/fonts/BalooTamma2-SemiBold.ttf");
    font-weight: 500;
}

@font-face {
    font-family: "Baloo";
    src: url("../assets/fonts/BalooTamma2-Bold.ttf")
    format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: "Baloo";
    src: url("../assets/fonts/BalooTamma2-ExtraBold.ttf")
    format("truetype");
    font-weight: 800;
}

/* Heading section */
.headingContainer {
    padding: var(--content-padding-y) var(--content-padding-x);
    color: #F8F6EE;
}

.headingTop {
    font-size: var(--heading-size);
    font-weight: 600;
}

.introSection {
    margin-bottom: 2rem;
    max-width: 80ch;
    opacity: 80%;
}

.introText {
    color: #F8F6EE;
    font-size: 1.5rem;
}

/* Main section */
.mainContent {
    display: flex;
    padding: 0 var(--content-padding-x);
    align-items: flex-start;
    justify-content: space-between;
    margin-top: -2rem;
}

.leftContent {
    flex: 1;
    display: flex;
    flex-direction: column;
    max-width: 60ch;
    opacity: 80%;
}

.heartDivider {
    width: 100%;
    margin-bottom: 2rem;
}

.heartDividerImage {
    width: 100%;
    height: auto;
}

.bulletPointContainer {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-bottom: 3rem;
}

.bulletPoint {
    display: flex;
    align-items: flex-start;
    gap: 2rem;
}

.bulletIcon {
    margin-top: 0.2rem;
}

.bulletText {
    flex: 1;
    color: #F8F6EE;
    font-size: 1.5rem;
}

.challengeButton {
    font-size: 1.2rem;
    font-weight: 600;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 2.3rem;
    padding-right: 2.3rem;
    background-color: #7dd3fc;
    border-radius: 0.8rem;
    cursor: pointer;
    align-self: flex-start;
}

.sideImage {
    flex: 0 0 auto;
    display: block;
    clip-path: inset(6.5% 8% 10% 7%);
    align-self: flex-start;
    margin-top: -3.2rem;
    margin-right: -6rem;
}

/* Future section */
.futureContainer {
    padding: 5vw var(--content-padding-x);
    color: #F8F6EE;
}

.futureHeading {
    font-size: var(--subHeading-size);
    font-weight: 500;
}

.textButtonContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.futureText {
    font-size: 1.5rem;
    opacity: 80%;
    width: 50vw;
}

.contactButton {
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    padding: 0.5rem 1.5rem;
    background-color: #ffde74;
    color: #14162B;
    border-radius: 0.8rem;
    text-align: center;
}

/* MOBILE LAYOUT */

@media (max-width: 480px) {
    /* Heading section */
    .headingContainer {
        padding: var(--content-padding-y) var(--content-padding-x-mobile);
    }
    
    .headingTop {
        font-size: var(--heading-size-mobile);
    }
    .introText {
        font-size: var(--text-size-mobile-sml);
    }

    /* Main section */
    .mainContent {
        flex-direction: column;
        width: 100%;
        padding: var(--content-padding-y) var(--content-padding-x-mobile);
    }
    
    .leftContent {
        display: contents; /* Dissolve wrapper*/
    }
    
    .headingTop {
        line-height: 1;
    }
    
    .introSection {
        padding-top: 7vw;
    }
    
    .heartDivider {
        order: 1;
    }

    .bulletText {
        opacity: 80%;
        font-size: var(--text-size-mobile-sml);
    }
    
    .sideImage {
        order: 2;
        align-self: center;
        margin-right: -18vw;
        width: 110%;
        height: auto;
    }
    .textMainContent {
        order: 3;
    }

    .textButtonContainer {
        flex-direction: column;
        align-items: flex-start;
    }

    /* Future section */
    .futureContainer {
        padding: 20vw var(--content-padding-x-mobile);
    }
    .futureHeading {
        line-height: 1;
    }
    .futureText {
        padding-top: 6vw;
        padding-bottom: 4vw;
        width: 80vw;
    }
}