@font-face {
    font-family: "Baloo";
    src: url("../assets/fonts/BalooTamma2-Regular.ttf")
    format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "Baloo";
    src: url("../assets/fonts/BalooTamma2-SemiBold.ttf");
    font-weight: 500;
}

@font-face {
    font-family: "Baloo";
    src: url("../assets/fonts/BalooTamma2-Bold.ttf")
    format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: "Baloo";
    src: url("../assets/fonts/BalooTamma2-ExtraBold.ttf")
    format("truetype");
    font-weight: 800;
}

/* To make sure, that the background-color behind navbar is yellow */
.homeMainContent {
    padding-top: 0 !important;
}

.yellowContainer {
    width: 100%;
    height: 100vh;
    min-height: 100vh;
    background-color: #ffde74;
    padding: 11rem 5% 15rem 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.textWithBirds {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.7rem;
}

.yellowHeading {
    font-size: 3.6rem;
    text-align: center;
    line-height: 1.2;
}

.yellowSubHeading {
    font-size: 1.5rem;
    text-align: center;
    position: relative;
    line-height: 1.2;
}

.huggingBird {
    position: absolute;
    left: -20vw;
    bottom: -15rem;
    width: 27vw;
    height: auto;
}

.wavingBird {
    position: absolute;
    right: -20vw;
    bottom: -13rem;
    width: 20vw;
    height: auto;
}

.storeButtons {
    display: none;
}

/* Bottom container with supporter number */

.bottomContainer {
    width: 100vw;
    background-color: #FFB4E5;
    height: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textContainer {
    text-align: center;
}

.line1 {
    font-size: 220%;
    font-weight: 600;
    color: #14162B;
    margin-bottom: -0.7rem; /* How far line1 and line2 are from eachother */
}

.line2 {
    font-weight: 400;
    font-size: 170%;
    margin: 0;
}

/* Main part of the page */

.mainContent {
    padding: var(--content-padding-x) var(--content-padding-x) calc(var(--content-padding-x) * 0.5) var(--content-padding-x);
    color: #F8F6EE;
    display: flex;
    justify-content: space-between;
}

.textSection {
    flex: 0 0 auto;
    flex-direction: column;
    max-width: 60ch;
}

.mainTextColumn {
    font-weight: 400;
}

.textHeading {
    font-size: var(--subHeading-size);
    line-height: 1.3;
    font-weight: 500;
    margin-bottom: 2rem;
}

.upperText {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    opacity: 80%;
}

.smallerText {
    font-size: 1.2rem;
    margin-bottom: 3rem;
    opacity: 80%;
}

.buttonContainer {
 font-weight: 400;
}

.buttonHeading {
    font-size: 1.8rem;
    font-weight: 400;
    margin-bottom: -0.7rem;
}

.buttonText {
    font-size: 1.2rem;
    opacity: 80%;
    margin-bottom: 1rem;
}

.downloadButton {
    font-size: 1.2rem;
    font-weight: 600;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 2.3rem;
    padding-right: 2.3rem;
    background-color: #ffde74;
    border-radius: 0.8rem;
    cursor: pointer;
}

.imageColumn {
    flex: 0 0 auto;
    display: flex;
    height: 100%;
    width: auto;
    clip-path: inset(4% 0.5% 10% 0.5%);
    margin-top: -3vw;
}

.mobilePhone {

}

/* MOBILE LAYOUT */

@media (max-width: 480px) {
    .yellowContainer {
        padding: var(--content-padding-y) var(--content-padding-x-mobile);
    }
    .textWithBirds {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.7rem;
        max-width: 100%;
        margin-top: 15vw;
        text-wrap: balance;
    }
    
    .yellowHeading {
        font-size: 1.8rem;
        text-align: center;
        line-height: 1.2;
    }
    
    .yellowSubHeading {
        font-size: 1.2rem;
        text-align: center;
        position: relative;
        line-height: 1.2;
        margin-bottom: 5vw;
    }
    .huggingBird {
        display: none;
    }
    .wavingBird {
        display: none;
    }
    .storeButtons {
        display: flex;
        flex-direction: column;
        margin-bottom: -5vw;
    }
    .storeButton {
        width: 100%;
        height: auto;
    }
}

@media (min-width: 400px) and (max-width: 480px) {
    .yellowHeading {
        font-size: 2.4rem;
    }
    .yellowSubHeading {
        font-size: 1.8rem;
    }
}
