@font-face {
    font-family: "Baloo";
    src: url("../assets/fonts/BalooTamma2-Regular.ttf")
    format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "Baloo";
    src: url("../assets/fonts/BalooTamma2-Bold.ttf")
    format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: "Baloo";
    src: url("../assets/fonts/BalooTamma2-ExtraBold.ttf")
    format("truetype");
    font-weight: 800;
}

@font-face {
    font-family: "Baloo";
    src: url("../assets/fonts/BalooTamma2-SemiBold.ttf");
    font-weight: 500;
}



/* To make sure, that the background-color behind navbar is yellow */
.homeMainContent {
    padding-top: 0 !important;
}



.yellowContainer {
    width: 100vw;
    background-color: #ffde74;
    padding: 11rem 5% 15rem 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.textWithBirds {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.yellowHeading {
    font-size: 3.2rem;
    text-align: center;
    line-height: 1.3;
}

.yellowSubHeading {
    font-size: 1.5rem;
    text-align: center;
    position: relative;
}

.huggingBird {
    position: absolute;
    left: -280px;
    bottom: -200px;
    width: 370px;
    height: auto;
}

.wavingBird {
    position: absolute;
    right: -230px;
    bottom: -170px;
    width: 250px;
    height: auto;
}

.bottomContainer {
    width: 100vw;
    background-color: #FFB4E5;
    height: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textContainer {
    text-align: center;
}

.line1 {
    font-size: 220%;
    font-weight: 600;
    color: #14162B;
    margin-bottom: -0.7rem; /* How far line1 and line2 are from eachother */
}

.line2 {
    font-weight: 400;
    font-size: 170%;
    margin: 0;
}

/* Main part of the page */

.mainContent {
    padding: 10rem;
    color: #F8F6EE;
    display: flex;
    align-items: center;
    gap: 4rem;
}

.textSection {
    flex: 1;
    flex-direction: column;
}

.mainTextColumn {
    font-weight: 400;
}

.textHeading {
    font-size: 3rem;
    line-height: 1.3;
    font-weight: 500;
    margin-bottom: 2rem;
}

.upperText {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    opacity: 80%;
}

.smallerText {
    font-size: 1.2rem;
    margin-bottom: 3rem;
    opacity: 80%;
}

.buttonContainer {
 font-weight: 400;
}

.buttonHeading {
    font-size: 1.8rem;
    font-weight: 400;
    margin-bottom: -0.7rem;
}

.buttonText {
    font-size: 1.2rem;
    opacity: 80%;
    margin-bottom: 1rem;
}

.downloadButton {
    font-size: 1.2rem;
    font-weight: 600;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 2.3rem;
    padding-right: 2.3rem;
    background-color: #ffde74;
    border-radius: 0.8rem;
}

.mobilePhone {

}
