@font-face {
    font-family: "Baloo";
    src: url("../assets/fonts/BalooTamma2-Regular.ttf")
    format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "Baloo";
    src: url("../assets/fonts/BalooTamma2-SemiBold.ttf");
    font-weight: 500;
}

@font-face {
    font-family: "Baloo";
    src: url("../assets/fonts/BalooTamma2-Bold.ttf")
    format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: "Baloo";
    src: url("../assets/fonts/BalooTamma2-ExtraBold.ttf")
    format("truetype");
    font-weight: 800;
}

.headingContainer {
    padding: var(--content-padding-y) var(--content-padding-x);
    color: #F8F6EE;
}

.headingTop {
    font-size: var(--heading-size);
    font-weight: 600;
}

.mainContent {
    display: flex;
    padding: 0 var(--content-padding-x);
    align-items: flex-start;
    width: 100vw;
    justify-content: space-between;
    margin-top: -2rem;
}

.textMainContent {
    flex: 1;
    display: flex;
    flex-direction: column;
    max-width: 60ch;
    opacity: 80%;
}

.introSection {
    margin-bottom: 2rem;
}

.introText {
    flex: 1;
    color: #F8F6EE;
    font-size: 1.5rem;
}

.heartDivider {
    display: flex;
    width: 100%;
    margin-bottom: 2rem;
}

.heartDividerImage {
    width: 100%;
    height: auto;
}

.bulletPointContainer {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-bottom: 3rem;
}

.bulletPoint {
    display: flex;
    align-items: flex-start;
    gap: 2rem;
}

.bulletIcon {
    margin-top: 0.2rem;
}

.textWrapper {
    display: flex;
    flex-direction: column;
}

.bulletText {
    flex: 1;
    color: #F8F6EE;
    font-size: 1.5rem;
}

.bulletTextSmall {
    flex: 1;
    color: #F8F6EE;
    font-size: 1rem;

}

.birdReading {
    position: absolute;
    right: 11vw;
    top: 12vw;
    clip-path: inset(25% 20% 12% 24%);
}

.sideImage {
    flex: 0 0 auto;
    display: block;
    align-self: flex-start;
    margin-top: 20rem;
    margin-right: -6vw;
}

.sideImageMobile {
    display: none;
}

/* Join us section */

.joinContainer {
    padding: 5vw var(--content-padding-x);
    color: #F8F6EE;
}

.joinHeading {
    font-size: var(--subHeading-size);
    font-weight: 500;
}

.textButtonContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.joinText {
    font-size: 1.5rem;
    opacity: 80%;
    width: 50vw;
}

.contactButton {
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    padding: 0.5rem 1.5rem;
    background-color: #ffde74;
    color: #14162B;
    border-radius: 0.8rem;
    text-align: center;
}

@media (max-width: 480px) {
    .headingContainer {
        padding: var(--content-padding-y) var(--content-padding-x-mobile);
    }
    .mainContent {
        padding: var(--content-padding-y) var(--content-padding-x-mobile);
    }
    .headingTop {
        font-size: var(--heading-size-mobile);
        margin-bottom: 4vw;
    }
    .introText {
        font-size: var(--text-size-mobile-sml);
    }
    .birdReading {
        display: none;
    }
    .textMainContent {
        font-size: var(--text-size-mobile-sml);
        flex-direction: column;
    }
    .sideImage {
        display: none;
    }
    .sideImageMobile {
        display: block;
        width: 90%;
        margin-left: 15vw;
    }
    .bulletPoint {
        gap: 4vw;
    }
    .bulletText {
        font-size: var(--text-size-mobile-xsml);
        width: 100%;
    }

    /* Join section */
    .joinContainer {
        padding: var(--content-padding-y) var(--content-padding-x-mobile);
    }
    .joinHeading {
        font-size: var(--heading-size-mobile);
        line-height: 1;
        margin-bottom: 4vw;
    }
    .joinText {
        font-size: var(--text-size-mobile-sml);
        width: 100%;
        margin-bottom: 4vw;
    }
    .textButtonContainer {
        flex-direction: column;
        align-items: flex-start;
    }
}