@font-face {
    font-family: "Baloo";
    src: url("../assets/fonts/BalooTamma2-Regular.ttf")
    format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "Baloo";
    src: url("../assets/fonts/BalooTamma2-SemiBold.ttf");
    font-weight: 500;
}

@font-face {
    font-family: "Baloo";
    src: url("../assets/fonts/BalooTamma2-Bold.ttf")
    format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: "Baloo";
    src: url("../assets/fonts/BalooTamma2-ExtraBold.ttf")
    format("truetype");
    font-weight: 800;
}

.mainContent {
    padding: var(--content-padding-y) var(--content-padding-x);
}

.friendsContainer {
    color: #F8F6EE;
}

.friendsHeading {
    font-size: var(--heading-size);
    font-weight: 600;
}

.textButtonContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.friendsText {
    font-size: 1.5rem;
    opacity: 80%;
    width: 50vw;
}

.newPartnersButton {
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    padding: 0.5rem 2rem;
    background-color: #ffde74;
    color: #14162B;
    border-radius: 0.8rem;
    text-align: center;
}

/* Filter section */

.filterSection {
    padding: 4rem 0 6rem;
}

.filterHeading {
    font-size: 1.7rem;
    color: #F8F6EE;
    opacity: 80%;
}

.filterGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    gap: 0.8rem 0.8rem;
}

.filterButton {
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    width: auto;
    min-height: 7vw;
    padding: 0%;

}

.filterButton:hover {
    transform: scale(1.03);
}

.filterText {
    color: #14162B;
    font-size: 1.4rem;
    font-weight: 500;
    text-align: center;
    max-width: 12ch;
    line-height: 1;
    padding-left: 1rem;
}

/* Cards section */

.cardsContainer {
    padding-bottom: 8rem;
}

/* MOBILE LAYOUT */ 
@media (max-width: 480px) {
    .mainContent {
        padding: var(--content-padding-y) var(--content-padding-x-mobile);
        margin-bottom: -25vw;
    }
    .textButtonContainer {
        flex-direction: column;
        align-items: flex-start;
    }
    .friendsHeading {
        font-size: var(--heading-size-mobile)
    }
    .friendsText {
        font-size: var(--text-size-mobile-sml);
        width: auto;
        margin-bottom: 5vw;
    }

    /* Filter section */
    .filterHeading {
        font-size: 1.5rem;
    }
    .filterGrid {
        gap: 1vw 1.5vw;
    }
    .filterText {
        font-size: 0.8rem;
        margin-left: 1rem;
        
    }
    .filterButton {
        background-size: 100% auto;
        min-height: 15vw;
        width: auto;
    }
}
