@font-face {
    font-family: "Baloo";
    src: url("../assets/fonts/BalooTamma2-Regular.ttf")
    format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "Baloo";
    src: url("../assets/fonts/BalooTamma2-SemiBold.ttf");
    font-weight: 500;
}

@font-face {
    font-family: "Baloo";
    src: url("../assets/fonts/BalooTamma2-Bold.ttf")
    format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: "Baloo";
    src: url("../assets/fonts/BalooTamma2-ExtraBold.ttf")
    format("truetype");
    font-weight: 800;
}

.friendsContainer {
    padding: var(--content-padding-y) var(--content-padding-x) 0;
    color: #F8F6EE;
}

.friendsHeading {
    font-size: var(--heading-size);
    font-weight: 600;
}

.textButtonContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.friendsText {
    font-size: 1.5rem;
    opacity: 80%;
    width: 50vw;
}

.newPartnersButton {
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    padding: 0.5rem 2rem;
    background-color: #ffde74;
    color: #14162B;
    border-radius: 0.8rem;
    text-align: center;
}

/* Filter section */

.filterSection {
    padding: 4rem 0 6rem;
}

.filterHeading {
    font-size: 1.7rem;
    color: #F8F6EE;
    opacity: 80%;
    padding: 0 var(--content-padding-x);
}

.filterGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    gap: 0.8rem 0.8rem;
    padding: 0 var(--content-padding-x);
}

.filterButton {
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    width: auto;
    min-height: 7vw;
    padding: 0%;

}

.filterButton:hover {
    transform: scale(1.03);
}

.filterText {
    color: #14162B;
    font-size: 1.4rem;
    font-weight: 500;
    text-align: center;
    max-width: 12ch;
    line-height: 1;
    padding-left: 1rem;
}

/* Cards section */

.cardsContainer {
    padding-bottom: 8rem;
}