@font-face {
    font-family: "Baloo";
    src: url("../assets/fonts/BalooTamma2-Regular.ttf")
    format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "Baloo";
    src: url("../assets/fonts/BalooTamma2-SemiBold.ttf");
    font-weight: 500;
}

@font-face {
    font-family: "Baloo";
    src: url("../assets/fonts/BalooTamma2-Bold.ttf")
    format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: "Baloo";
    src: url("../assets/fonts/BalooTamma2-ExtraBold.ttf")
    format("truetype");
    font-weight: 800;
}

.missionContainer {
    padding: var(--content-padding-y) var(--content-padding-x) calc(var(--content-padding-y) * 0.5) var(--content-padding-x);
    color: #F8F6EE;
}

.missionContent {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.missionHeading {
    font-size: var(--heading-size);
    font-weight: 600;
}

.missionText {
    font-size: 1.5rem;
    opacity: 80%;
    width: 60vw;
}

.missionImage {
    flex: 0 0 auto;
    margin-top: -5vw;
}

/* Family section */

.familyContainer {
    padding: var(--content-padding-y) var(--content-padding-x);
    color: #F8F6EE;
}

.familyHeading {
    font-size: var(--subHeading-size);
    font-weight: 500;
}

.textButtonContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.familyText {
    font-size: 1.5rem;
    opacity: 80%;
    width: 50vw;
}

.contactButton {
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    padding: 0.5rem 1.5rem;
    background-color: #ffde74;
    color: #14162B;
    border-radius: 0.8rem;
    text-align: center;
}

/* Boss section */

.bossContainer {
    padding: var(--content-padding-y) var(--content-padding-x);
    display: flex;
    align-items: center;
    gap: 4rem;
}

.bossImage {
    display: flex 0 0 auto;
}

.textContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.bossHeading {
    font-size: 2.8rem;
    font-weight: 400;
    color: #F8F6EE;
}

.bossHeadingMobile {
    display: none;
}

.bossText {
    font-size: 1.5rem;
    opacity: 80%;
    color: #F8F6EE;
}

/* Team section */ 

.teamContainer {
    padding: var(--content-padding-y) 4vw;
    display: flex;
    gap: 2rem;
    justify-content: space-between;
}

.rowImage {
    flex: 1;
    max-width: 27.5vw;
    height: auto;
}

/* Find us section */

.findUs {
    padding: var(--content-padding-x);
    color: #F8F6EE;
}

.findUsHeading {
    font-size: var(--subHeading-size);
    font-weight: 500;
}

.textButtonsContainer {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    vertical-align: middle;
}

.findUsText {
    font-size: 1.5rem;
    opacity: 80%;
    max-width: 40ch;
}

.buttonStack {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.socialButton {
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    padding: 0.5rem 1.5rem;
    background-color: #ffde74;
    color: #14162B;
    border-radius: 0.8rem;
    text-align: center;
}

/* Gallery section */

.photoGallery {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 50vw;
    position: relative;
    background-color: red;
    overflow: hidden;
}

.arrowButton {
    justify-content: center;
    position: absolute;
    z-index: 10;
    border-radius: 100%;
    border: none;
    cursor: pointer;
    display: flex;
}

.leftArrow {
    left: 3rem;
}

.rightArrow {
    right: 3rem;
}

.galleryImage {
    width: 100vw;
    height: auto;
    object-fit: cover;
    object-position: center;
}

/* MOBILE LAYOUT */
@media (max-width:480px) {
    /* Mission section */
    .missionContainer {
        width: 100%;
        padding: var(--content-padding-y) var(--content-padding-x-mobile);
    }

    .missionHeading {
        font-size: var(--heading-size-mobile);
    }
    
    .missionText {
        font-size: var(--text-size-mobile-sml);
        width: auto;
    }

    .missionImage {
        display: none;
    }

    /* Family section */
    .familyContainer {
        padding: var(--content-padding-x) var(--content-padding-x-mobile) 4vw;
    }
    
    .familyHeading {
        font-size: var(--heading-size-mobile);
    }

    .textButtonContainer {
        flex-direction: column;
        align-items: flex-start;
    }
    
    .familyText {
        font-size: var(--text-size-mobile-sml);
        width: 100%;
        margin-bottom: 4vw;
    }

    /* Boss section */
    .bossContainer {
        flex-direction: column;
        align-items: flex-start;
        padding: var(--content-padding-y) var(--content-padding-x-mobile);
    }

    .bossHeading {
        display: none;
    }

    .bossImage {
        /* padding-left: var(--content-padding-x);
        padding-right: var(--content-padding-x); */
        width: 100%;
        height: auto;
        object-fit: contain;
    }

    .bossHeadingMobile {
        display: block;
        font-weight: 400;
        color: #F8F6EE;
        font-size: var(--subHeading-size-mobile);
        margin-top: 5vw;
        margin-bottom: -15vw;
    }

    .bossText {
        margin-top: -4vw;
    }

    /* Team section */
    .teamContainer {
        padding: var(--content-padding-y) var(--content-padding-x);
        flex-direction: column;
        align-items: center;
    }

    .rowImage {
        width: 100%;
        max-width: none;
    }

    /* Find us section */ 
    .findUs {
        flex-direction: column;
        padding: var(--content-padding-x) var(--content-padding-x-mobile);
    }

    .findUsHeading {
        font-size: var(--heading-size-mobile);
        line-height: 1;
        margin-bottom: 4vw;
    }

    .textButtonsContainer {
        flex-direction: column;
    }

    .findUsText {
        font-size: var(--text-size-mobile-sml);
        margin-bottom: 4vw;
    }

    .buttonStack {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    .socialButton {
        flex: 1;
    }

    /* Gallery section */
    .arrowButton {
        size: 80%;
    }

    .leftArrow {
        left: 3vw;
        transform: scale(75%);
    }
    
    .rightArrow {
        right: 3vw;
        transform: scale(75%);
    }
}