@font-face {
    font-family: "Baloo";
    src: url("../assets/fonts/BalooTamma2-Regular.ttf")
    format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "Baloo";
    src: url("../assets/fonts/BalooTamma2-SemiBold.ttf");
    font-weight: 500;
}

@font-face {
    font-family: "Baloo";
    src: url("../assets/fonts/BalooTamma2-Bold.ttf")
    format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: "Baloo";
    src: url("../assets/fonts/BalooTamma2-ExtraBold.ttf")
    format("truetype");
    font-weight: 800;
}

.cardContainer {
    display: flex;
    gap: 8rem;
    align-items: center;
    padding: var(--content-padding-y) 0;
}

.reversed {
    flex-direction: row-reverse;
}

.cardImage {
    flex: 0 0 auto;
    width: 30vw;
    height: auto;
}

.textContent {

}

.cardHeading {
    font-size: var(--subHeading-size);
    line-height: 1.3;
    font-weight: 500;
    margin-bottom: 2rem;
    color: #F8F6EE;
}

.cardDescription {
    flex: 1;
    font-size: 1.5rem;
    color: #F8F6EE;
    max-width: 30ch;
    opacity: 80%;
    margin-bottom: 2rem;
}

.downloadButton {
    font-size: 1.2rem;
    font-weight: 600;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 2.3rem;
    padding-right: 2.3rem;
    background-color: #ffde74;
    border-radius: 0.8rem;
    cursor: pointer;
    padding: 0.5rem 3rem;
}

@media (max-width: 480px) {
    .cardHeading {
        font-size: var(--heading-size-mobile);
    }
    .cardDescription {
        font-size: var(--text-size-mobile-sml);
    }
}