@font-face {
    font-family: "Baloo";
    src: url("../assets/fonts/BalooTamma2-Regular.ttf")
    format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "Baloo";
    src: url("../assets/fonts/BalooTamma2-Bold.ttf")
    format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: "Baloo";
    src: url("../assets/fonts/BalooTamma2-ExtraBold.ttf")
    format("truetype");
    font-weight: 800;
}

.footer {
    background-color: #222440;
    padding: 5rem var(--content-padding-x);
    width: 100%;
    bottom: 0;
    display: flex;
}


/* Logo */
.logoContainer {
    display: flex;
    align-items: center;
    height: 100%;
}

.logo {
    height: 68px;
    width: 66px;
    top: 5px;
}

.logoText {
    margin-left: 2%;
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logoTitle {
    font-size: 165%;
    font-weight: 800;
    color: #F8F6EE;
    line-height: 1;
    margin: 0;
    letter-spacing: 0%;
}

.logoSubTitle {
    font-size: 110%;
    font-weight: 800;
    color: #F8F6EE;
    line-height: 1;
    margin: 0;
    letter-spacing: 0%;
}


/* Social media icons */

.social {
    display: flex;
    margin-left: 4rem;
    gap: 1.5rem;
    align-items: center;
}

@media (max-width: 480px) {
    .footer {
        padding: 3rem var(--content-padding-x-mobile);
    }
}