@font-face {
    font-family: "Baloo";
    src: url("../assets/fonts/BalooTamma2-Regular.ttf")
    format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "Baloo";
    src: url("../assets/fonts/BalooTamma2-SemiBold.ttf");
    font-weight: 500;
}

@font-face {
    font-family: "Baloo";
    src: url("../assets/fonts/BalooTamma2-Bold.ttf")
    format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: "Baloo";
    src: url("../assets/fonts/BalooTamma2-ExtraBold.ttf")
    format("truetype");
    font-weight: 800;
}

.footer {
    background-color: #222440;
    padding: calc(var(--content-padding-y) * 0.5) var(--content-padding-x);
    width: 100%;
    bottom: 0;
    display: flex;
    flex-direction: column;
    gap: 2vw;
}

.upperRow {
    display: flex;
}

/* Logo */
.logoContainer {
    display: flex;
    align-items: center;
    height: 100%;
}

.logo {
    height: 68px;
    width: auto;
    top: 5px;
}

.logoText {
    margin-left: 2%;
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logoTitle {
    font-size: 165%;
    font-weight: 600;
    color: #F8F6EE;
    line-height: 1;
    margin: 0;
    letter-spacing: 0%;
}

.logoSubTitle {
    font-size: 110%;
    font-weight: 500;
    color: #F8F6EE;
    line-height: 1;
    margin: 0;
    letter-spacing: 0%;
}


/* Social media icons */

.social {
    display: flex;
    margin-left: 4rem;
    gap: 3.5vw;
    align-items: center;
    margin-top: 1vw;
}
.socialLogo {
    height: 30px;
    width: auto;
}

/* Lower row */
.lowerRow {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    color: #F8F6EE;
    opacity: 80%;
    justify-content: space-between;
}

@media (max-width: 480px) {
    .footer {
        padding: 3rem var(--content-padding-x-mobile);
        gap: 4vw;
    }

    /* Logo */

    .upperRow {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logoContainer {
        flex-shrink: 0;
    }

    .logo {
        height: 38px;
        width: auto;
        top: 5px;
    }

    .logoTitle {
        font-size: 135%;
    }

    .logoSubTitle {
        font-size: 82.5%;
    }

    /* Social media icons */
    .social {
        display: flex;
        align-items: center;
        gap: 5vw;
    }
    .socialLogo {
        height: 30px;
        width: auto;
    }

    /* Lower row */ 
    .lowerRow {
        flex-direction: column;
        align-items: flex-start;           
    }
}