@font-face {
    font-family: "Baloo";
    src: url("../assets/fonts/BalooTamma2-Regular.ttf")
    format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "Baloo";
    src: url("../assets/fonts/BalooTamma2-Bold.ttf")
    format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: "Baloo";
    src: url("../assets/fonts/BalooTamma2-ExtraBold.ttf")
    format("truetype");
    font-weight: 800;
}



.navbar {
    background-color: #ffde74;
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 97px;
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
}

.navbar.hidden {
    transform: translateY(-100%);
}

.navbar.visible {
    transform: translateY(0);
}

/* Logo (left) */
.logoContainer {
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: 15%;
}

.logo {
    height: 86px;
    width: 86px;
    top: 5px;
}

.logoText {
    margin-left: 0.5%;
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logoTitle {
    font-size: 165%;
    font-weight: 800;
    color: #14162B;
    line-height: 1;
    margin: 0;
    letter-spacing: 0%;
}

.logoSubTitle {
    font-size: 110%;
    font-weight: 800;
    color: #14162B;
    line-height: 1;
    margin: 0;
    letter-spacing: 0%;
}

.logoLink {
    display: flex;
}

/* Buttons (right) */
.navButtons {
    display: flex;
    gap: 3rem;
    margin-right: 5%;
    align-items: center;
}

.navButton {
    font-size: 110%;
    color: #14162B;
    font-weight: 400;
    white-space: nowrap;
}

.navButton.active {
    font-weight: 800;
}

.navButton::before {
    display: block;
    content: attr(data-text);
    font-weight: 800;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

/* Language selector */

.languageSelector {
    position: relative;
}

.languageButton {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    font-size: 110%;
    color: #14162B;
    font-weight: 400;
    cursor: pointer;
    padding: 0;
    outline: none;
    position: relative;
    width: 3rem;
}


.languageButton:focus {
    outline: none;
}

.arrow {
    position: relative;
    top: -0.1em;
}

.dropdown {
    position: absolute;
    top: 100%;
    background: none;
    border: none;
}

.option {
    cursor: pointer;
    color: #14162B;
    font-weight: 400;
    font-size: 110%;
}