/* CSS Reset */
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --content-padding-x: 10vw;
  --content-padding-y: 3.5vw;
  --content-padding-x-mobile: 5vw;

  --heading-size: 4rem;
  --heading-size-mobile: 2.25rem;
  --subHeading-size: 3.2rem;

  --text-size-mobile-big: 1.8rem;
  --text-size-mobile-med: 1.5rem;
  --text-size-mobile-sml: 1.3rem;
  --text-size-mobile-xsml: 1.2rem;

  overscroll-behavior: none;
}

/* Global font family */
body, * {
  font-family: "Baloo", system-ui, sans-serif;
  max-width: 100%;
  text-wrap: balance;
}

html, body {
  font-family: "Baloo", system-ui, sans-serif;
  overflow-x: hidden;
}

/* Remove default link styles */
a {
  text-decoration: none;  /* Removes underlines */
  color: inherit;         /* Uses parent element's color instead of blue */
}

.main-content {
  background-color: #14162B;
  min-height: 100vh;
  padding-top: 97px;
}