/* CSS Reset */
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --content-padding-x: 8vw;
}

/* Global font family */
body, * {
  font-family: "Baloo", system-ui, sans-serif;
}

/* Remove default link styles */
a {
  text-decoration: none;  /* Removes underlines */
  color: inherit;         /* Uses parent element's color instead of blue */
}

.main-content {
  background-color: #14162B;
  min-height: 100vh;
  padding-top: 97px;
}